<div class="itemMain">

  <div *ngIf="user" class="itemUser">
    <span><b>Name:</b> {{user.name.title}} {{user.name.first}} {{user.name.last}}</span>
    <img [src]="user.picture.medium" alt="avatar" />
    <span>
      <b>Location:</b>
      {{user.location.country}},
      {{user.location.city}},
      {{user.location.street.name}}:
      {{user.location.street.number}}
    </span>
    <span><b>Email:</b> {{user.email}}</span>
    <span><b>Gender:</b> {{user.gender}}</span>
  </div>

  <div *ngIf="weather" class="itemUser">
    <span><b>Temperature:</b> {{lowestForDay}}{{weather.hourly_units.temperature_2m}} &#8212; {{higestForDay}}{{weather.hourly_units.temperature_2m}}</span>
    <span><b>Current:</b> {{weather.current_weather.temperature}}{{weather.hourly_units.temperature_2m}}</span>
    <span *ngFor="let icon of weatherIcons" style="display: flex">
      <span style="font-size: 28px">{{icon}}</span>
    </span>
  </div>

  <div *ngIf="onSave" class="itemButton">
    <button (click)="onSave(user, weather, lowestForDay, higestForDay, weatherIcons)">Save</button>
  </div>

</div>
