.savedCardMain{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.savedCardList{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 70px;
}
